#!/usr/bin/env python

# These are required fields
from src.core.setcore import *
import sys

MAIN = "   This is a test module"
AUTHOR = "   Dave - TrustedSec"

# def main(): header is required
def main():
	java_applet_attack("https://gmail.com","443","reports/")
	pause=raw_input("   This module has finished completing. Press <enter> to continue")
