#!/usr/bin/env python


# These are required fields
import src.core.setcore as core

# Py2/3 compatibility
# Python3 renamed raw_input to input
try:
    input = raw_input
except NameError:
    pass

MAIN = "   This is a test module"
AUTHOR = "   Dave - TrustedSec"


# def main(): header is required
def main():
    core.java_applet_attack("https://gmail.com", "443", "reports/")
    pause = input("   This module has finished completing. Press <enter> to continue")
