# Author: David Kennedy
#
#
#
SUBJECT="New Update"

BODY="There was a new update to the overall document that I need you to review. You'll notice the changes on page 2 and 3. \n\nThanks for the help!\n\nJames\n"
