# Author: David Kennedy
#
# Status Computer Issue
#
SUBJECT="Computer Issue"

BODY="Greetings,\n\nI have been recently experiencing issues with my computer and have been unable to run this report, I believe that the file may be messed up however, I cannot confirm this. Can someone please take a look and identify if it is my machine or just this file? I have an immediate deadline to produce this report, any help would be greatly appreciated.\n\nSincerely,\n\nJeff"
