<!DOCTYPE html>
<html>

<head title="Welcome to Facebook">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Welcome to Facebook</title>
	<meta name="description" content="Facebook helps you connect and share with the people in your life." />
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="mobile.css" id="Ka5eI" />

</head>

<body tabindex="0" class="touch x1 ios _fzu _50-3 iframe acw">
	<script id="u_0_2">
		(function(a) {
			a.__updateOrientation = function() {
				var b = ( !! a.orientation && a.orientation !== 180),
					c = document.body;
				if (c) c.className = c.className.replace(/(^|\s)(landscape|portrait)(\s|$)/g, ' ') + ' ' + (b ? 'landscape' : 'portrait');
				return b;
			};
		})(window);
	</script>
	<div id="viewport">
		<h1 style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0">Facebook</h1>
		<div id="page">
			<div class="_4g33 _52we _52z5" id="header">
				<div class="_4g34 _52z6" data-sigil="mChromeHeaderCenter">
					<i class="img sp_ccgf6l sx_b78a2b">
						<u>facebook</u>
					</i>
				</div>
			</div>
			<div id="root" role="main" class="_5soa acw" data-sigil="context-layer-root content-pane">
				<div class="_4g33">
					<div class="_4g34">
						<div class="acy apm abb" data-sigil="marea"><span class="mfsm">You must log in first.</span></div>
						<div class="aclb _5rut">
							<div class="appBanner grouped aclb">
								<a class="touchableArea first last area touchable acy apl abt abb" href="https://m.facebook.com/click.php?redir_url=http://itunes.apple.com/app/facebook/id284882215&app_id=6628568379&cref=mb&no_fw=1&refid=8" target="_top" data-sigil="touchable marea">
									<div class="ib">
										<i class="l img sp_ccgf6l sx_c1ca4b"></i>
										<div class="c">
											<span class="fcl">Get Facebook for mobile and browse faster.</span>
										</div>
									</div>
								</a>
							</div>
							<form method="post" class="mobile-login-form _5spm" id="login_form" novalidate="1" action="https://m.facebook.com/login.php?refsrc=http%3A%2F%2Fwww.facebook.com%2F&amp;refid=8">
								<input type="hidden" name="lsd" value="AVrZJE11" autocomplete="off" />
								<input type="hidden" name="charset_test" value="€,´,€,´,水,Д,Є" />
								<input type="hidden" name="version" value="1" />
								<input type="hidden" id="ajax" name="ajax" value="0" />
								<input type="hidden" id="width" name="width" value="0" />
								<input type="hidden" id="pxr" name="pxr" value="0" />
								<input type="hidden" id="gps" name="gps" value="0" />
								<input type="hidden" autocomplete="off" name="m_ts" value="1395288329" />
								<input type="hidden" autocomplete="off" name="li" value="CWkqUwon6JL6lahfmCGOXX9T" />
								<div class="_56be _5sob">
									<div class="_55wo _55x2 _56bf">
										<input autocorrect="off" autocapitalize="off" type="email" class="_56bg _55ws _5ruq" name="email" placeholder="Email or Phone" />
										<input autocorrect="off" autocapitalize="off" class="_56bg _55ws _5ruq" placeholder="Password" name="pass" type="password" />
										<div class="_55ws">
											<button type="submit" value="Log In" class="touchable _56bs _56b_ _56bw _56bu" name="login" data-sigil="touchable">
												<span class="_55sr">Log In</span>
											</button>
										</div>
									</div>
								</div>
								<div class="_52jj _5t3b">
									<a class="touchable _56bs _5t3b _56bw _56bv" href="http://www.facebook.com/r.php?refid=8" role="button" data-sigil="touchable">
										<span class="_55sr">Create New Account</span>
									</a>
								</div>
								<noscript>
									<input type="hidden" autocomplete="off" name="_fb_noscript" value="true" />
								</noscript>
							</form>
							<div class="other-links">
								<ul class="_5pkb _55wp">
									<li>
										<span class="mfss fcg">
											<a href="http://www.facebook.com/recover/initiate/?c=https://m.facebook.com/?refsrc=http%253A%252F%252Fwww.facebook.com%252F&refid=8">Forgot Password?</a>
											<span aria-hidden="true">·</span>
											<a class="sec" href="http://www.facebook.com/help/?refid=8">Help Center</a>
										</span>
									</li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="_55wr _5ui2">
					<div id="footer">
						<div class="_5ui3" data-sigil="marea">
							<span class="mfss fcg">
								<b>English (US)</b>
								<span aria-hidden="true">·</span>
								<a class="sec" href="http://www.facebook.com/a/language.php?l=es_LA&lref=https://m.facebook.com/?refsrc=http%253A%252F%252Fwww.facebook.com%252F&gfid=AQBX43OIPc82Y-9c&refid=8" data-sigil="ajaxify">Español</a>
								<span aria-hidden="true">·</span>
								<a class="sec" href="http://www.facebook.com/a/language.php?l=pt_BR&lref=https://m.facebook.com/?refsrc=http%253A%252F%252Fwww.facebook.com%252F&gfid=AQAHxeCshcuDMQY1&refid=8" data-sigil="ajaxify">Português (Brasil)</a>
								<span aria-hidden="true">·</span>
								<a class="sec" href="http://www.facebook.com/language.php?n=https://m.facebook.com/?refsrc=http%253A%252F%252Fwww.facebook.com%252F&refid=8">More…</a>
							</span>
						</div>
						<div class="_5ui4">
							<span class="mfss fcg">Facebook ©2014</span>
						</div>
					</div>
				</div>
			</div>
			<div class="viewportArea _2v9s" id="u_0_0" style="display:none" data-sigil="marea">
				<div class="_5vsg" id="u_0_c"></div>
				<div class="_5vsh" id="u_0_d"></div>
				<div class="_5v5d fcg">
					<div class="_2so _2sq _2ss img _50ch" data-animtype="3" data-sigil="m-loading-indicator-root">
						<div class="_2sr" data-sigil="m-loading-indicator-animate"></div>
					</div>Loading...</div>
			</div>
			<div class="viewportArea aclb" id="mErrorView" style="display:none" data-sigil="marea">
				<div class="container">
					<div class="image"></div>
					<div class="message" data-sigil="error-message"></div>
					<a class="link" data-sigil="MPageError:retry">Try Again</a>
				</div>
			</div>
		</div>
	</div>
	<div id="static_templates">
		<div class="mDialog" id="modalDialog" style="display:none">
			<div class="mFuturePageHeader firstStep titled chromeBar acb abb" id="mDialogHeader" data-sigil="marea">
				<table>
					<tr>
						<td class="left">
							<button type="submit" value="Cancel" class="cancelButton btn btnD bgb mfss touchable" data-sigil="dialog-cancel-button blocking-touchable">Cancel</button>
							<button type="submit" value="Back" class="backButton btn btnI bgb mfss touchable iconOnly" aria-label="Back" data-sigil="dialog-back-button blocking-touchable">
								<i class="img sp_ab6k8l sx_40c760" style="margin-top: 4px;"></i>
							</button>
						</td>
						<td class="center">
							<div class="mFuturePageHeaderTitle mfsl fcw" id="m-future-page-header-title" data-sigil="dialog-title">Loading...</div>
						</td>
						<td class="right" id="modalDialogHeaderButtons"></td>
					</tr>
				</table>
			</div>
			<div class="modalDialogView" id="modalDialogView"></div>
			<div class="_5v5d _5v5e fcg" id="dialogSpinner">
				<div class="_2so _2sq _2ss img _50ch" data-animtype="3" id="u_0_1" data-sigil="m-loading-indicator-root">
					<div class="_2sr" data-sigil="m-loading-indicator-animate"></div>
				</div>Loading...</div>
		</div>
	</div>

</body>

</html>