<!DOCTYPE html>
<html lang="en" class="" id="facebook">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">

	<meta name="robots" content="noodp, noydir">
	<meta name="referrer" content="default" id="meta_referrer">
	<meta name="description" content="Facebook is a social utility that connects people with friends and others who work, study and live around them. People use Facebook to keep up with friends, upload an unlimited number of photos, post links and videos, and learn more about the people they meet.">
	<link rel="alternate" media="handheld" href="https://www.facebook.com/login.php">
	<title id="pageTitle">Facebook</title>
	<meta property="og:site_name" content="Facebook">
	<meta property="og:url" content="https://www.facebook.com/login.php">
	<meta property="og:locale" content="en_US">

	<noscript>
		<meta http-equiv="X-Frame-Options" content="DENY" />
	</noscript>
	<link rel="shortcut icon" href="h3nktoa7zmg.ico">





	<link rel="stylesheet" type="text/css" href="index.css" media="all">
</head>

<body class="login_page fbx UIPage_LoggedOut gecko mac Locale_en_US">
	<div class="_li">
		<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
			<div id="blueBarHolder">
				<div id="blueBar">
					<div>
						<div class="loggedout_menubar_container">
							<div class="clearfix loggedout_menubar">
								<a class="lfloat _ohe" href="https://www.facebook.com/" title="Go to Facebook Home">
									<i class="fb_logo img sp_2xp1ac sx_f72f28">
										<u>Facebook logo</u>
									</i>
								</a>
							</div>
						</div>
						<div class="signupBanner">
							<div class="signup_bar_container">
								<div class="signup_box clearfix">
									<span class="signup_box_content">
										<a class="_42ft _42fu signup_btn selected _42gz _42gy" role="button" href="https://www.facebook.com/r.php?locale=en_US">Sign Up</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="globalContainer" class="uiContextualLayerParent">
			<div id="content" class="fb_content clearfix">
				<div class="UIFullPage_Container">
					<div class="mvl ptm uiInterstitial login_page_interstitial uiInterstitialLarge uiBoxWhite">
						<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
							<div class="clearfix uiHeaderTop">
								<div class="rfloat _ohf">
									<h2 class="accessible_elem">Facebook Login</h2>
									<div class="uiHeaderActions"></div>
								</div>
								<div>
									<h2 class="uiHeaderTitle" aria-hidden="true">Facebook Login</h2>
								</div>
							</div>
						</div>
						<div class="phl ptm uiInterstitialContent">
							<div class="login_form_container">
								<form id="login_form" action="https://www.facebook.com/login.php?login_attempt=1" method="post" onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)">
									<input name="lsd" value="AVoBAdPy" autocomplete="off" type="hidden">
									<div class="hidden_elem"></div>
									<div class="pam uiBoxYellow">You must log in to continue.</div>
									
									
									<div id="loginform">
										<input autocomplete="off" id="display" name="display" value="" type="hidden">
										<input autocomplete="off" id="enable_profile_selector" name="enable_profile_selector" value="" type="hidden">
										<input autocomplete="off" id="legacy_return" name="legacy_return" value="1" type="hidden">
										<input autocomplete="off" id="profile_selector_ids" name="profile_selector_ids" value="" type="hidden">
										<input autocomplete="off" id="trynum" name="trynum" value="1" type="hidden">
										<input autocomplete="off" name="timezone" value="300" id="u_0_0" type="hidden">
										<input name="lgnrnd" value="155536_vZTh" type="hidden">
										<input id="lgnjs" name="lgnjs" value="1395356138" type="hidden">
										<div class="form_row clearfix">
											<label for="email" class="login_form_label">Email or Phone:</label>
											<input class="inputtext" id="email" name="email" value="" type="text">
										</div>
										<div class="form_row clearfix">
											<label for="pass" class="login_form_label">Password:</label>
											<input name="pass" id="pass" class="inputpassword" type="password">
										</div>
										<div class="persistent">
											<div class="uiInputLabel clearfix uiInputLabelLegacy">
												<input id="persist_box" value="1" checked="checked" name="persistent" class="uiInputLabelInput uiInputLabelCheckbox" type="checkbox">
												<label for="persist_box" class="uiInputLabelLabel">Keep me logged in</label>
											</div>
										</div>
										<input autocomplete="off" id="default_persistent" name="default_persistent" value="1" type="hidden">
										<div id="buttons" class="form_row clearfix">
											<label class="login_form_label"></label>
											<div id="login_button_inline">
												<label class="uiButton uiButtonConfirm uiButtonLarge" id="loginbutton" for="u_0_1">
													<input value="Log In" name="login" id="u_0_1" type="submit">
												</label>
											</div>
											<div id="register_link">or
												<strong>
													<a href="https://www.facebook.com/r.php?next&amp;locale=en_US&amp;display=page" rel="nofollow" tabindex="-1">Sign up for Facebook</a>
												</strong>
											</div>
										</div>
										<p class="reset_password form_row">
											<a href="https://www.facebook.com/recover/initiate" target="" tabindex="-1">Forgot your password?</a>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
					<ul class="uiList ptm localeSelectorList _509- _4ki _6-h _6-j _6-i">
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;en_US&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="English (US)">English (US)</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;es_LA&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="Spanish">Español</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;pt_BR&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="Portuguese (Brazil)">Português (Brasil)</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;fr_FR&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="French (France)">Français (France)</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;de_DE&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="German">Deutsch</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;it_IT&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="Italian">Italiano</a>
						</li>
						<li>
							<a dir="rtl" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;ar_AR&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="Arabic">العربية</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;hi_IN&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="Hindi">हिन्दी</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;zh_CN&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="Simplified Chinese (China)">中文(简体)</a>
						</li>
						<li>
							<a dir="ltr" href="https://www.facebook.com/login.php" onclick="intl_set_cookie_locale(&quot;ja_JP&quot;, &quot;https:\/\/www.facebook.com\/login.php&quot;);" title="Japanese">日本語</a>
						</li>
						<li>
							<a class="showMore" rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fwww.facebook.com%2Flogin.php&amp;source=TOP_LOCALES_DIALOG" title="Show more languages" href="#" role="button">…</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="pageFooter" data-referrer="page_footer">
				<div id="contentCurve"></div>
				<div role="contentinfo" aria-label="Facebook site links">
					<table class="uiGrid _51mz navigationGrid" cellpadding="0" cellspacing="0">
						<tbody>
							<tr class="_51mx">
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/mobile/?ref=pf" title="Check out Facebook Mobile.">Mobile</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/find-friends?ref=pf" title="Find anyone on the web.">Find Friends</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/badges/?ref=pf" title="Embed a Facebook badge on your website.">Badges</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/directory/people/" title="Browse our people directory.">People</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/directory/pages/" title="Browse our pages directory.">Pages</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/directory/places/" title="Browse our places directory.">Places</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/appcenter/?ref=pf" title="Check out Facebook App Center.">Apps</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/appcenter/category/games/?ref=pf" title="Check out Facebook games.">Games</a>
								</td>
								<td class="_51m- hLeft plm _51mw">
									<a href="https://www.facebook.com/appcenter/category/music/?ref=pf" title="Check out Facebook music apps.">Music</a>
								</td>
							</tr>
							<tr class="_51mx">
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/facebook" accesskey="8" title="Read our blog, discover the resource center, and find job opportunities.">About</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;extra_1=auto" title="Advertise on Facebook.">Create Ad</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/pages/create/?ref_type=sitefooter" title="Create a Page">Create Page</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">Developers</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/careers/?ref=pf" title="Make your next career move to our awesome company.">Careers</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/help/cookies/?ref=sitefooter" title="Learn about cookies and Facebook.">Cookies</a>
								</td>
								<td class="_51m- hLeft plm">
									<a href="https://www.facebook.com/policies/?ref=pf" accesskey="9" title="Review our terms and policies.">Terms</a>
								</td>
								<td class="_51m- hLeft plm _51mw">
									<a href="https://www.facebook.com/help/?ref=pf" accesskey="0" title="Visit our Help Center.">Help</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="mvl copyright">
					<div class="fsm fwn fcg">
						<span>Facebook © 2014</span>·
						<a rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fwww.facebook.com%2Flogin.php&amp;source=TOP_LOCALES_DIALOG" title="Use Facebook in another language." href="#" role="button">English (US)</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" data-signature="1">
		/*<![CDATA[*/
		function si_cj(m) {
			setTimeout(function() {
				new Image().src = "https:\/\/error.facebook.com\/common\/scribe_endpoint.php?c=si_clickjacking&t=2036" + "&m=" + m;
			}, 5000);
		}
		if (top != self && !false) {
			try {
				if (parent != top) {
					throw 1;
				}
				var si_cj_d = ["apps.facebook.com", "\/pages\/", "apps.beta.facebook.com"];
				var href = top.location.href.toLowerCase();
				for (var i = 0; i < si_cj_d.length; i++) {
					if (href.indexOf(si_cj_d[i]) >= 0) {
						throw 1;
					}
				}
				si_cj("3 ");
			} catch (e) {
				si_cj("1 \t");
				window.document.write("\u003Cstyle>body * {display:none !important;}\u003C\/style>\u003Ca href=\"#\" onclick=\"top.location.href=window.location.href\" style=\"display:block !important;padding:10px\">\u003Ci class=\"img sp_15atd9 sx_ce7bf5\" style=\"display:block !important\">\u003C\/i>Go to Facebook.com\u003C\/a>"); /*BAINlhKJ*/
			}
		} /*]]>*/
	</script>
	
	



	</script>
</body>

</html>
